:root {
  color-scheme: light dark;
  --background-color:rgb(255,255,255);
  --text-color:black;
  --dynamic-blue: rgb(0, 122, 255);
  --grey-5:rgb(229,229,234);
  --grey-6: rgb(242,242,247);
}
[data-theme="dark"] {
  --background-color:rgb(0,0,0);
  --text-color:white;
  --dynamic-blue: rgb(10, 132, 255);
  --grey-5:rgb(44,44,46);
  --grey-6: rgb(28,28,30);
}

* {
  transition:0.5s;
  color:var(--text-color);
}
.card {
    display:inline-block;
    text-align: center;
    border-radius:15px;
    border: 0px solid #ccc;
    box-shadow:0 0 50px 20px rgba(65,60,65,.2);
    width:250px;
    height:250px;
    transition:0.3s;
    margin:50px;
    padding:10px;
    background-color:var(--grey-5);
}
.card:hover {
    box-shadow:0 0 55px 22px rgba(60,55,60,.21);
    transform: scale(1.04);
    font-size:16px;
    background-color:var(--grey-6);
}
a {
  font-size:30px;
  text-decoration: none;
  font-style: bold;
  color:var(--dynamic-blue);
}
a:hover {
  text-decoration: underline;
}
.container {
  text-align:center;
}
.code {
  border-radius: 18px;
  background-color:darkgrey;
  box-shadow: 0 0 8px 4px var(--grey-6);
  padding:20px;
  color:white;
  font-size:16px;
  font-family: Monaco, monospace;
}
.code:hover {
  padding:20.5px;
  font-size:17px;
}
span.code {
  padding:2px;
  font-size: 14px;
}
span.code:hover {
  padding:2.2px;
  font-size: 15px;
}

body {
  background-color: var(--background-color);
}