* {
  transition:0.5s;
}
.card {
    display:inline-block;
    text-align: center;
    border-radius:15px;
    border: 0px solid #ccc;
    box-shadow:0 0 50px 20px rgba(65,60,65,.2);
    width:250px;
    height:250px;
    transition:0.3s;
    margin:50px;
    padding:10px;
    background-color:rgb(250,250,250);
}
.card:hover {
    box-shadow:0 0 55px 22px rgba(60,55,60,.21);
    transform: scale(1.05);
    font-size:16px;
    background-color:rgb(255,255,255);
}
a {
  font-size:30px;
  text-decoration: none;
  font-style: bold;
  color:blue;
}
.container {
  text-align:center;
}
.code {
  padding:20px;
  background-color: rgba(24, 24, 24, 0.800);
  color:antiquewhite;
  font-size:16px;
  font-family: Monaco, monospace;
}
.code:hover {
  background-color:rgba(40, 40, 40, 0.8);
  padding:20.5px;
  font-size:17px;
}
span.code {
  padding:2px;
  font-size: 14px;
}
span.code:hover {
  padding:2.2px;
  font-size: 15px;
}
