* {
  transition: .5s;
  -webkit-transition: .5s;
}
:root {
  color-scheme: light dark;
  --main-back: rgb(204,204,204);
  --shadow-color: rgba(64,60,67,.16);
  --slider-color:white;
  
}
[data-theme=dark] {
  --main-back: rgb(51,51,51);
  --shadow-color:rgba(191,195,198,.16);
  --slider-color:black;
}
.switch {
  position:fixed;
  right:20px;
  top:20px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-shadow: 0px 0px 3.33px 1.33px var(--shadow-color);
  border-radius: 50px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-back);

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--slider-color);
}

input:checked + .slider {
  background-color: rgb(0, 122, 255);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(33, 150, 243);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */


.slider:before {
  border-radius: 50%;
}