/*&(rgb(8,0,3))|(rgb(248,255,252))&*/
:root {
  /*Size*/
  --main-width:50%;
  --result-width:60%;
  --left-body-padding:45px;
  --transform-all-amount:1;
  --result-line-height:;
  /*Colour*/
  --main-background: rgb(255,255,255);
  --secondary-background: rgb(235,235,235);
  --circled-background: rgb(250,250,250);
  --circled-u-background: rgb(240, 240, 240);
  --main-sys-color: darkgrey;
  --secondary-sys-color: rgb(65,60,65);
  --third-color:rgb(95,90,95);
  --n-i-main-color: black; 
  --grey-result-color:rgb(77,81,86);
  --shadow-color: rgba(64,60,67,.16);
}
[data-theme=dark] {
  --main-background: rgb(0,0,0);
  --secondary-background: rgb(20,20,20);
  --circled-background: rgb(5,5,5);
  --circled-u-background: rgb(15,15,15);
  --main-sys-color: lightgrey;
  --secondary-sys-color: rgb(190,195,190);
  --third-color:rgb(160,165,160);
  --n-i-main-color: white; 
  --grey-result-color:lightgrey;
  --shadow-color:rgba(191,195,198,.16);
}
[data-width=small] {
  /*Size*/
  --main-width:85%;
  --result-width:100%;
  --left-body-padding:0px;
  --transform-all-amount:0.65;
}

*{
  font-family: sans-serif;
  box-sizing: border-box;
  transition: .6s;
}
.des {
  font-size:20px;
  line-height:30px;
}
/*box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;*/
.back {
  cursor: pointer;
  font-size:25px;
  margin:30px;
  padding:5px;
  padding-left:5px;
  color:rgb(0,128,0);
  border:0px black;
  background-color:rgb(200,200,200);
  border-radius:50px;
  box-shadow:0px 0px 6px 2px rgba(50,50,50,.5);
  transition: .6s;
}
.back:hover::after {
  content:"Back";
}
#search {
  box-shadow:0px 0px 8px 4px var(--shadow-color);
  width: var(--main-width);
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-radius: 12px;
  font-size: 16px * var(--transform-all-amount);
  background-color: var(--circled-background);
  background-image: url('/static/img/searchicon.png');
  background-size: 24px;
  color: var(--n-i-main-color);
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  margin:30px;
  margin-bottom:10px;
  padding: 12px 20px 12px 40px;
  transition: .6s;
}
#search:hover, #search:active, #search:focus, #search:target {
  box-shadow: 0px 0px 16px 8px var(--shadow-color);
}
.cen {
  text-align: center;
  position:fixed;
  top:30%;
  width:100%;
}


.result {
  box-shadow: 0px 0px 0px 0px var(--shadow-color);
  background-color: var(--main-background);
  font-size: 15px * var(--transform-all-amount);
  width:var(--result-width);
  color:var(--grey-result-color);
  border-radius:30px;
  padding:18px;
  margin-bottom:40px;
  margin-left: auto; 
  margin-right: auto;
  line-height:1.5;
  border:0px solid rgb(200,200,200);
  max-height:800px;
}
.result:hover, .result:active, .result:focus, .result:target {
  box-shadow:0px 0px 8px 5px var(--shadow-color);
  transform: scale(1.002);
}
.result a{
  display: inline-block;     
  position: relative;    
  z-index: 1; 
  top:18px;
  font-size: 20px/* * var(--transform-all-amount);*/;
  line-height: 1.3;
  font-weight: normal;
  text-decoration: none;
  font-style:none;
  color:blue;
}
.result a:after{
  padding: 30px;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span {
  display:inline-block;
}
#searchbar {
  text-align: center;
  margin:0;
  padding:25px;
  padding-bottom:35px;
  background-color: var(--main-background);
}
body {
  min-height: 85vh;
  margin:0;
  padding:0;
  margin-bottom:10.9%;
  background-color: var(--secondary-background);
}
html {
  margin:0;
  padding:0;
  overflow-x: hidden !important;
  position:relative;
}
#toolbar {
  float:left;
  margin-left:25%;
  margin-right:25%;
  margin-top:0;
}
a {
  text-decoration: none;
  font-style: italic;
  color:blue;
}
#dym {
  padding:15px;
  margin:45px;
  color:red;
  font-size:18px;
}
.footer {
  position: absolute;
  bottom:0;
  width:100%;
}

#page {
  width:30px;
}
.body {
  text-align: center;
  padding-left:var(--left-body-padding);
  color:var(--main-sys-color);
}

.result img {
  float:left;
  height:25px;
  margin-left:10px;
}

.circled {
  width:40px;
  height:40px;
  font-size:30px;
  text-align: center;
  color: var(--secondary-sys-color);
  border:0px solid black;
  box-shadow:0 0 10px 8px var(--shadow-color);
  border-radius: 100%;
  margin:15px;
  margin-bottom:80px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
  cursor: pointer;
  background-color: var(--circled-background);
}
.circled:active {
  box-shadow:0 0 10px 3px var(--shadow-color);
}
.circled.unavailable {
  cursor: default;
  color: var(--third-color);
  box-shadow:0 0 10px 5px var(--shadow-color);
  user-select: none;
  background-color: var(--circled-u-background);
}
h1,h2 {
  text-align: center;
  color: var(--n-i-main-color);
}
p, label {
  cursor: text;
  transition:.6s;
  color: var(--grey-result-color);
}
strong {
  font-size: 16px;
}