<!Doctype html>
<html lang="en">
  <head>
    <title>SearchTheWorld API</title>
    <link rel="shortcut icon" href="/favicon.ico?v=1" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/api.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/darkmode.css?theme=0" id="darkmode" />
    <script src="https://CSS-Library.hg0428.repl.co/script.js"></script>
  </head>
  <body>
    <label class="switch">
      <input type="checkbox" />
      <span class="slider"></span>
    </label>
    <div class="container">
      <div class="card">
        <h2>Perfect for development</h2>
        <br/>
        <h4>Made by developers for developers.</h4>
      </div>
      <div class="card">
        <h2>Easy to use and develop</h2><br/>
        <h4>Just send a simple GET request and get the results and info in only seconds. <br/>We format it in an easy to read JSON to make it easy for processing.</h4>
      </div>
      <div class="card">
        <a href="?part=specs" >Learn More!</a>
        <h4>Learn the specifics with code examples and more.</h4>
      </div>
    </div>
    <script src="/static/js/darkmode.js">

    </script>
  </body>
</html>