<!Doctype html>
<html lang="en">
  <head>
    <title>SearchTheWorld API Specifications</title>
    <link rel="shortcut icon" href="/favicon.ico?v=1" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/api.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/darkmode.css?theme=0" id="darkmode" />
  </head>
  <body>
    <h1>Using the API</h1>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;The API is very easy to use and will not take long to get used to. In this tutorial I will be giving code examples in python and javascript.<br/>&nbsp;&nbsp;&nbsp;&nbsp;
      The api will respond to GET requests to /api. Simply send a GET request to <span class="code">/api?q=[yourqueryhere>]</span> and replace <span class="code">[yourqueryhere]</span> with what ever the query is. Within seconds you will get a responce of JSON that includes results and more information.<br/>&nbsp;&nbsp;&nbsp;&nbsp;The JSON will have many keys, including <span class="code">ResultCount</span>, <span class="code">Information</span>, and <span class="code">Results</span>. ResultCount is an int that is equal to the number of results. Because this search engine is not done yet, you should get few results. The Results key contains all of the results in the following format: <br/>
      <div class="code">
        "Title":{<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;"score":0,<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;"description":"description",<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;"title":"Title",<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;"link":"link",<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;"favicon":"favicon"<br/>
        },
      </div><br/>
      &nbsp;&nbsp;&nbsp;&nbsp;I think that is self-explainatory. The score is always an int and it represents the site's search score. The results are sorted by highest to lowest score.
    </p>
    <h1>Adding Python</h1>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;In this section I am going to explain how to work with this API using python and urllib3. 
    </p>
    <pre class="code">
# we will import the PoolManager to create the http object
# import json to quickly parse our json script
from urllib3 import PoolManager
http = PoolManager()


# define a function to get the json info and parse it.
def search(q):
  # Send the request and get the responce and get out the JSON
  resp = http.request("GET",f"https://search-the-world.hg0428.repl.co/api?q={q}")
  code = json.loads(resp.data.decode('utf-8'))
</pre><br/>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;Ok, so now we got the data and turned it into a dictionary, how do we make it into something that the user wants to read? This is mostly formatting and your preference, so I am not going to cover it here.
    </p>
    <h1>JavaScript</h1>
    This section is not yet completed, I had to leave in the middle of typing, check back later.
    <script src="/static/js/darkmode.js">

    </script>
  </body>
</html>