<!Doctype html>
<html lang="en">

  <head>
    <title> Search The World </title>
    <link rel="icon" href="https://search-the-world.hg0428.repl.co/favicon.ico?v=2" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/static/css/home.css?theme=0" id="home" />
    <link rel="stylesheet" href="/static/css/darkmode.css?theme=0" id="darkmode" />
    <meta name="google-site-verification" content="VZ5kDSwIlO3iydQquHBQF-q9zV4T7FiOQZrx3eCasik" />
    <meta name="yandex-verification" content="66b61e911089fdd7" />
    <meta name="msvalidate.01" content="0C96BB93AED36BAD55E643B5BA0BEB54" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Search The World" />
    <meta property="og:description" content="A fast and secure search engine designed for privacy and power. Made for developers and engineered to fit your needs." />
    <meta property="og:url" content="https://Search-The-World.hg0428.repl.co" />
    <meta property="og:site_name" content="Search The World" />
    <meta property="og:image" content="https://Search-The-World.hg0428.repl.co/static/img/favicon.ico" />
    <meta name="title" content="Search The World" />
    <meta name="description" content="A fast and secure search engine designed for privacy and power. Made for developers and engineered to fit your needs." />
    <meta name="theme-color" content="#f5f5f5" />
  </head>

  <body>
    <label class="switch">
      <input type="checkbox" />
      <span class="slider"></span>
    </label>
    <div class="cen">
      <div>
        <h1 id="stw-title">Search The World</h1>
        <form>
          <input type="search" name="q" id="search" placeholder="Search...">
        </form>
        <p style="font-size:25px;"><b>V2</b></p>
      </div>
    </div>
    <script src="/static/js/darkmode.js"></script>
    <script src="/static/js/page.js">
	  </script>
  </body>

</html>
