<!Doctype html>
<html lang="en">
  <head>
    <title>SearchTheWorld</title>
    <link rel="shortcut icon" href="/favicon.ico?v=1" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <center>
      <h1>Changes in Progress</h1>
      <p style="font-size:16px;">We are currently editting Search The World. You may continue to the site, but errors may occur.</p>
      <a style="font-size:30px;color:blue;border:1px solid black;" href="https://search-the-world.hg0428.repl.co/?understand=True">Continue</a>
    </center>
  </body>
</html>